name: Run CI
on: 
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    
    steps:
      
      - name: Copy repository
        uses: actions/checkout@v4
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install npm dependencies
        run: npm ci --legacy-peer-deps
      
      - name: Lint code
        run: npm run lint:ts

      - name: Build
        run: |
          if [ "${GITHUB_REF_NAME}" = "develop" ]; then
            npm run build:staging
          elif [ "${GITHUB_REF_NAME}" = "main" ]; then
            npm run build:production
          else
            npm run build:dev
          fi
      #  run: npm run build:dev
          
      # - name: Run tests
      #   run: npm run test

      # - name: SonarCloud Scan
      #   uses: sonarsource/sonarcloud-github-action@master
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
